@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h1>Privacy Statement</h1>
        </div>
        <div class="card-body">
            <section class="mb-4">
                <h2>About Me</h2>
                <p>My name is <strong>Jean Roberto Pasquini</strong>. I am from Espírito Santo do Pinhal, SP, Brazil. I am a university student pursuing a degree in <strong>Computer Engineering</strong> at UNIPINHAL. My interests include studying programming, exploring games, and staying updated on the latest technology news and trends.</p>
            </section>
            <section class="mb-4">
                <h2>Professional Focus</h2>
                <p>I specialize in <strong>backend development</strong>, leveraging tools and libraries such as <strong>C#</strong>, <strong>ASP.NET</strong>, and <strong>.NET</strong>. I have experience in developing APIs and managing relational databases.</p>
            </section>
            <section class="mb-4">
                <h2>Privacy and Data Protection</h2>
                <p>I highly value privacy and data security, both personally and for others. My approach to development includes adherence to best practices in data protection and compliance with regulations such as the <strong>LGPD</strong> (General Data Protection Law) and other global privacy standards.</p>
            </section>
            <section class="mb-4">
                <h2>Interests and Hobbies</h2>
                <ul>
                    <li>Enhancing my programming knowledge.</li>
                    <li>Exploring and playing games.</li>
                    <li>Following technology news and innovations.</li>
                </ul>
            </section>
            <section class="mb-4">
                <h2>Contact</h2>
                <p>I am open to sharing more about my experiences and exchanging ideas in my areas of interest and expertise.</p>
            </section>
        </div>
        <div class="card-footer text-center">
            <h3>Follow Me</h3>
            <a href="https://github.com/JeanPasquini" class="btn btn-dark m-2" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>
            <a href="https://www.linkedin.com/in/jeanpasquini/" class="btn btn-primary m-2" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a href="https://instagram.com/https.jeanpasquini" class="btn btn-danger m-2" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
            </a>
        </div>
    </div>
</div>

