@model webAPP_ASPNET.Models.UserWithDepartment
@{
    Layout = "_Layout";
}


<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Put" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="User.ID" />
            <input type="hidden" asp-for="DepartmentRelation.ID" value="@ViewBag.RelationId" />
            <input type="hidden" asp-for="Department.DEPARTMENTNAME" value="@ViewBag.SelectedDepartmentName" />

            <div class="form-group">
                <label asp-for="User.USERNAME" class="control-label"></label>
                <input asp-for="User.USERNAME" class="form-control" />
                <span asp-validation-for="User.USERNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PASSWORD" class="control-label"></label>
                <input asp-for="User.PASSWORD" class="form-control" />
                <span asp-validation-for="User.PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FULLNAME" class="control-label"></label>
                <input asp-for="User.FULLNAME" class="form-control" />
                <span asp-validation-for="User.FULLNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.EMAIL" class="control-label"></label>
                <input asp-for="User.EMAIL" class="form-control" />
                <span asp-validation-for="User.EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="DepartmentRelation.IDDEPARTMENT" class="control-label">Department</label>
                <select id="DepartmentRelation.IDDEPARTMENT" name="DepartmentRelation.IDDEPARTMENT" class="form-control" required asp-for="DepartmentRelation.IDDEPARTMENT" asp-items="ViewBag.Departments">
                    <option value="">@ViewBag.SelectedDepartmentName</option>
                </select>
                <span asp-validation-for="DepartmentRelation.IDDEPARTMENT" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
