@model webAPP_ASPNET.Models.Button

<h4>Button</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Put" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" class="form-control" />

            <div class="form-group">
                <label asp-for="BUTTONNAME" class="control-label"></label>
                <input asp-for="BUTTONNAME" class="form-control" />
                <span asp-validation-for="BUTTONNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DESCRIPTION" class="control-label"></label>
                <input asp-for="DESCRIPTION" class="form-control" />
                <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
